@import 'tailwindcss';

@theme {
  --color-jade-50: #eff6ff;
  --color-jade-100: #dbeafe;
  --color-jade-200: #bfdbfe;
  --color-jade-300: #93c5fd;
  --color-jade-400: #60a5fa;
  --color-jade-500: #3b82f6;
  --color-jade-600: #2563eb;
  --color-jade-700: #1d4ed8;
  --color-jade-800: #1e40af;
  --color-jade-900: #1e3a8a;
  --color-jade-950: #172554;
}

@layer base {
  html,
  body {
    @apply m-0 p-0;
  }
}
